body {
background-color:
springgreen !important;
}

.para {
color: aqua;
font-size: 
}

.birdy {
background-color: 
blue;
width:140px;
height:100px;
}

.bb{
box-sizing: border-box !important;
width:200px;
margin: 10px;
padding: 10px;
border:solid black 1px;
}

.cb{
width:200px;
margin: 10px;
padding: 10px;    
border:solid black 1px;    
}

h1{
    font-family: 'Kaushan Script', cursive;
}

